# SPDX-FileCopyrightText: Trident IoT, LLC <https://www.tridentiot.com>
# SPDX-License-Identifier: MIT
* milind@tridentiot.com samer.seoud@tridentiot.com andres.buendia@tridentiot.com christian.salmony@tridentiot.com
