name: build-zniff.rs
run-name: Build zniff.rs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: cargo build --release

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - run: cargo build --release

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - run: cargo build --release
